*{box-sizing: border-box}
.bigBox{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.bigBox .box{
    width: 100px;
    height: 100px;
    border: 1px solid;
    float: left;
    font-size: 85px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    font-family: sans-serif;
}
.resetBtn{
    width: 150px;
    height: 50px;
    alignment: center;
    background-color: #ff8020;
    border-radius: 7px;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);

}