.container{
    position: absolute;
    width: 700px;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
}

.container-title{
    text-align: center;
}

*{box-sizing: border-box}

.container-game{
    float: left;
    margin-top: 5%;
    width: 100px;
}


.container-game .circle{
    width: 100px;
    height: 100px;
    border: 5px solid;
    float: left;
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    font-family: sans-serif;
    border-radius: 50px;
    background: gray;
}

.resetBtn{
    margin-top: 5%;
    width: 150px;
    height: 50px;
    alignment: center;
    background-color: #ff8020;
    border-radius: 7px;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    margin-left: 50%;
    transform: translateX(-50%);
}

.turnBlue{
     background: blue;
     width: 100px;
     height: 100px;
     border: 5px solid;
     float: left;
     font-size: 40px;
     text-align: center;
     line-height: 100px;
     cursor: pointer;
     font-family: sans-serif;
     border-radius: 50px;
}

.turnRed{
    background: red;
    width: 100px;
    height: 100px;
    border: 5px solid;
    float: left;
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    font-family: sans-serif;
    border-radius: 50px;
}